@import 'colors.css';

html {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--font-primary);
    color: var(--color-text);
    background-color: var(--color-bg);
    scrollbar-width: none;
    scrollbar-color: var(--color-bg);
}

a {
    text-decoration: none;
}